/* Footer Container */
.footer-container {
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    background-color: #006838 ;
    color: white;
    display: flex;
    width: 100%;
    position: absolute;
}

/* Copyright */
.copyright {
    font-size: .9rem;
}

/* Social Icons */
.social-icons {
    font-size: 1.6rem;
}

.icon {
    padding-left: 1rem;
    
    display: inline;
}

@media only screen and (max-width: 700px){
  
    .footer-container{
        display: block;
        text-align: center;
        /* flex-direction: column; */
    }
}